<% if(locals.errors) { %>
  <ul>
    <% errors.forEach(err=> { %>
      <div class="errors">
        <img class="icon" src="/img/error-16-svgrepo-com.svg" alt="error">
        <li><%= err.msg %></li>
      </div>
    <% }) %>
  </ul>
<% } %>
