<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/intro.css">
  <link rel="stylesheet" href="/css/modals.css">
  <title>M</title>
</head>
<body>
  <%- include('nav')%>
<div class="intro-section">
  <h1>MASK</h1>
  <p class="tagline">Where Secrets Are Shared (Anonymously, Of Course)</p>
  <a class="peek" href="/posts">TAKE A PEEK <img class="arrow" src="/img/arrow-up-right-svgrepo-com.svg" alt=""></a>
  <div class="intro-content">
    <p>🤫 <strong>Tired of everyone knowing who said what?</strong> Want to spill your thoughts without your boss, your ex, or that one person from high school finding out? You've found your safe space.</p>
    <p>💬 <strong>Whether you're a lurker, a truth-teller, or just someone who enjoys reading anonymous chaos</strong>, we've got the perfect blend of mystery and mayhem.</p>
    <p>🔒 <strong>So create an account, join the members-only club, and dive into a world where usernames mean everything, but identity means nothing.</strong> Unless you want it to. We're flexible like that.</p>
  </div>
</div>
</body>
<%- include('modals') %>
 <script src="/js/modal.js"></script>
</html>