<div id="messageModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeModal('messageModal')">&times;</span>
    <h2>New Message</h2>
    <form action="/new-message" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title">
      <div class="modal-actions">
        <button type="button" onclick="closeModal('messageModal')">Close</button>
        <button type="submit">Send Message</button>
      </div>
    </form>
  </div>
 
</div>