<nav>
  <a class="mask" href="/"><img src="/img/mask-happly-svgrepo-com.svg" alt=""> <p style="margin: 0;">M<span style="font-size: 1.3rem;">ASK</span></p></a>
  <div class="nav-buttons">
    <% if(locals.currentUser) { %>
      <% if(currentUser.status === 'guest') { %>
        <button class="join" onclick="openModal('passcodeModal')">
          <%= currentUser.username %>, join The Club!
        </button>
      <% } else { %>
        <a href="/profile/<%= currentUser.id %>" class="join"><%= currentUser.username %></a>
      <% } %>
      <button class="post" onclick="openModal('postModal')">Post</button>
      <button class="log-out" onclick="openModal('logOutModal')">Log Out</button>
      <% } else { %>
        <button class="sign-up" onclick="openModal('signUpModal')">Sign Up</button>
        <button class="log-in" onclick="openModal('logInModal')">Log In</button>
        <% } %>
  </div>
</nav>