<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign-Up</title>
</head>
<body>
  <form action="/sign-up" method="post" style="display: flex; flex-direction: column;">
    <label for="first_name">First Name:<span style="color: red;">*</span></label>
    <input type="text" id="first_name" autocomplete="given-name" name="first_name" required>
    <label for="last_name">Last Name:</label>
    <input type="text" id="last_name" autocomplete="family-name" name="last_name">
    <label for="username">Username:</label>
    <input type="text" id="username" autocomplete="off" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" autocomplete="new-password" name="password" required>
    <label for="password_confirmation">Confirm Password:</label>
    <input type="password" id="password_confirmation" autocomplete="new-password" name="password_confirmation" required>
    <button type="submit">SIGN-UP</button>
  </form>
  <%- include('./errors')%>
</body>
</html>