.intro-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  margin: 0 auto;
  width: clamp(0px, 90vw, 1000px);
  margin-top: 55px;
}

.intro-section h1 {
  margin: 0;
  font-size: 2.4em;
}

.intro-section a {
  text-decoration: none;
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  align-items: center;
  color: #E3EEF7;
  padding: 15px 25px;
  background-color: #0A1A26;
  border-radius: 2rem;
  border: none;
}

.arrow {
  width: 30px;
  color: #E3EEF7;
}



.intro-section p {
  background-color: #0A1A26;
  max-width: 650px;
  padding: 20px 25px;
  border-radius: 10px;
}

.intro-section .tagline {
  text-align: center;
  padding: 0px;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: transparent;
}