.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: auto;
}

.modal-content {
  background-color: #173B56;
  font-size: 1.1rem;
  color: #E3EEF7;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 85vw;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  animation: slideDown 0.25s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.close {
  color: #E3EEF7;
  position: absolute;
  top: 17px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s;
}

.close:hover,
.close:focus {
  color: #0A1A26;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 15px;
}

.modal-content input, .modal-content textarea {
  background-color: #10263A;
  margin-top: -10px;
  color: inherit;
  font-size: 1rem;
  padding: 0.4rem;
  border: none;
  border-radius: 0.3rem;
  border-bottom: 2px solid #E3EEF7;
}

.modal-content textarea {
  overflow: hidden;
  resize: none;
  height: auto;
  min-height: 25px;
  max-height: 500px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-content button {
  width: 100%;
  font-weight: bold;
  font-size: 1rem;
  margin-top: 5px;
  border-radius: 2rem;
  padding: 8px 20px;
  background-color: #E3EEF7;
  color: #0A1A26;
  border: none;
  transition: color 0.2s;
}

.modal-content button:hover, .modal-content:focus {
  background-color: #0A1A26;
  color: #E3EEF7;
}

.keypad {
  width: 135px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin: 0 auto;
}

.keypad button {
  width: 40px;
  height: 40px;
  border-radius: 0.7rem;
  padding: 0;
  font-size: 1em;
  margin: 0;
}


.passcode-inputs {
  display: flex;
  justify-content: center;
  gap: 7px;
  margin-top: 15px;
}

.passcode-input {
  width: 1.5rem;
  height: 1.5rem;
  cursor: default;
  text-align: center;
}

.passcode-input:focus {
  outline: none;
}

.errors {
  background-color: #0A1A26;
  border-radius: 0.6rem;
  padding: 1rem;
  gap: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 0.7rem;
}