main {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 2rem;
  width: clamp(0px, 90vw, 600px);
  background-color: #0A1A26;
  position: relative;
}

main a {
  position: absolute;
  top: -2rem;
  left: 0.7rem;
  text-decoration: none;
  color: #E3EEF7;
  font-size: 1.2rem;
}
h1 {
  margin-top: 0;
  font-size: 1.8rem;
}

.user-status {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}

.user-status h2 {
  background-color: #173B56;
  padding: 0.5rem 1rem;
  border-radius: 7px;
  margin: 0;
}

h2.status {
  background-color: #10263A;
}
.posts {
  margin-top: 1rem;
  width: auto;
  font-size: 1rem;
  padding: 0px;
}
.posts li {
  background-color: #10263A;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


form button {
  background: transparent;
  border: none;
}

.trash-can {
  width: 2rem;
  transition: transform 0.2s;
}

.trash-can:hover, .trash-can:focus {
  transform: scale(1.2);
}

.profile-user, .timestamp {
  background-color: #173B56;
}
