body {
  padding: 0px 20px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: #10263A;
  color: #E3EEF7;
}

button:hover {
  cursor: pointer;
}

nav {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0A1A26;
  padding: 15px 20px;
  border-radius: 3rem;
  top: 1rem;
}

.mask {
  margin: 0;
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

nav img {
  width: 30px;
  margin-right: 5px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav-buttons button {
  font-size: 0.9rem;
  border-radius: 2rem;
  padding: 8px 20px;
  border: none;
  transition: color 0.2s;
}

.sign-up, .join {
  background-color: #173B56;
  color: #E3EEF7;
}

.sign-up:hover, .join:hover, .sign-up:focus, .join:focus {
  background-color: #10263A;
  color: #E3EEF7;
}

.log-in, .post, .log-out {
  background-color: #10263A;
  color: #E3EEF7;
}

.log-in:hover, .log-in:focus, .post:hover, .post:focus, .log-out:hover, .log-out:focus {
  background-color: #173B56;
  color: #E3EEF7;
}

.posts {
  margin: 0 auto;
  font-size: 1.1rem;
  margin-top: 50px;
  width: clamp(0px, 90vw, 1000px);
}

.posts ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.posts li {
  background-color: #0A1A26;
  padding: 3px 25px;
  border-radius: 10px;
}

.posts li h2 {
  margin: 16px 0px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.profile-time {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-user, .timestamp {
  margin: 0;
  display: flex;
  gap: 5px;
  background-color: #10263A;
  align-items: center;
  width: fit-content;
  padding: 4px 5px;
  border-radius: 5px;
}

.icon {
  max-width: 24px;
  max-height: 24px;
}

.profile-user p {
  margin: 0;
}

.profile-user:hover, .profile-user:focus, .timestamp:hover, .timestamp:focus {
  background-color: #0A1A26;
}